@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  font-size: 14px;
}

body {
  font-family: "Inter" ;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Inter";
  src: url('./assets/font/static/Inter_18pt-Black.ttf')
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
