/* Style cho scrollbar chính */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
  height: 8px; /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background: #663399; /* Màu thanh cuộn */
  border-radius: 10px; /* Bo góc */
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* Màu khi hover */
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* Màu nền của đường track */
  border-radius: 10px; /* Bo góc track */
}
